.wrapper{
    width: 80%;
    margin: 0 auto;
}

.flex-inline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-grey {
    background-color: rgb(245,245,245);
}

#logo {
    width: 150px;
}

nav a {
    text-decoration: none;
    margin: 0 25px;
    color: black;
    font-family: Arial;
}

.ptb-20 {
    padding: 20px 0;
}

.w-40 {
    width: 40%;
}

.w-60{
    width: 60%;
}

.pl-10 {
    padding-left: 10%;
}

.w-30 {
    width: 30%;
}

.text-center {
    text-align: center;
}

.card-img {
    max-width: 100%;
}
.bg-white{
    background-color: white;
}

.bor-grey {
    border: 1px solid lightgray;
}
.bor-grey-ntop{
    border: 1px solid lightgray;
    border-top: none;
}

.card-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}